<template
	material="x3dom.nodeTypes.X3DMaterialNode"
	texture="x3dom.nodeTypes.X3DTextureNode"
	textureTransform="x3dom.nodeTypes.X3DTextureTransformNode"

	alphaClipThreshold="0.1"
	blendMode="x3dom.nodeTypes.BlendMode"
	colorMaskMode="x3dom.nodeTypes.ColorMaskMode"
	depthMode="x3dom.nodeTypes.DepthMode"
	lineProperties="x3dom.nodeTypes.LineProperties"
	metadata="X3DMetadataObject"
	shaders="x3dom.nodeTypes.X3DShaderNode"
	sortKey="0"
	sortType="auto">
	
	<w3d-data>
		<content select="x3d-material"></content>
		<content select="x3d-imagetexture"></content>
		<content select="x3d-movietexture"></content>
		<content select="x3d-texturetransform"></content>
	</w3d-data>

</template>