<template
	ambientintensity="0.2"
	diffusecolor="0.8 0.8 0.8"
	emissivecolor="0 0 0"
	metadata="X3DMetadataObject"
	shininess="30"
	specularcolor="0 0 0"
	opacity="1">
	
	<w3d-data>
		<w3d-value type="float" name="ambientIntensity">{{ambientintensity}}</w3d-value>
		<w3d-value type="float3" name="color">{{diffusecolor}}</w3d-value>
		<w3d-value type="float3" name="emissive">{{emissivecolor}}</w3d-value>
		<w3d-value type="float3" name="specular">{{specularcolor}}</w3d-value>
		<w3d-value type="float" name="shininess">{{shininess}}</w3d-value>
		<w3d-value type="float" name="opacity">{{opacity}}</w3d-value>
	</w3d-data>

</template>